extends:
  - stylelint-config-standard
  - stylelint-config-rational-order

plugins:
  - stylelint-order
  - stylelint-selector-bem-pattern

rules:
  declaration-empty-line-before: null
  plugin/rational-order:
    - true
    - empty-line-between-groups: true
  at-rule-no-unknown: null
  plugin/selector-bem-pattern:
    - componentName: [A-Z]
    - componentSelectors: 
    - initial": ^\\.{componentName}(?:-[a-z]+)?$
    - combined": ^\\.combined-{componentName}-[a-z]+$
  utilitySelectors: ^\\.util-[a-z]+$
