/** CSS STYLE **/
@font-face {
  font-family: "Neucha-Regular";
  src: url("../assets/fonts/Neucha-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

* {
  margin: 0;
}

body {
  font: normal 16px/1.6em "OpenSans-Regular", sans-serif;
  color: #2a2626;
}

h1 {
  font: 72px/1.2em "Neucha-Regular", cursive;
}

h2 {
  font: 60px/1.2em "Neucha-Regular", cursive;
}

h3 {
  font: 34px/1.2em "Neucha-Regular", cursive;
}

h4 {
  font: bold 14px "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
}

img {
  position: relative;
  z-index: 1;
}

.orange {
  color: #fe8a02;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.content {
  padding: 100px 165px;
}

a {
  text-decoration: none;
}

header {
  height: 914px;
  background-color: #f5f4f0;
}

.background {
  position: relative;
}

.background::before {
  content: "";

  position: absolute;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;

  z-index: 0;
  opacity: 0.1;
}

.header__title-container {
  position: relative;
  z-index: 1;
}

.header__title {
  position: relative;
  z-index: 2;
}

.header__img {
  position: absolute;
  top: -45px;
  left: 297px;
  z-index: 1;

  height: 525px;
}

.button {
  background-color: #fe8a02;
  border: none;

  cursor: pointer;
}

.button:hover {
  background-color: #ea7600;
}

.header__button {
  width: 148px;
  height: 49px;

  margin-top: 30px;
  margin-left: 570px;
}

.header__link {
  font: bold 16px/1.6em "OpenSans-Bold", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.description {
  position: relative;

  display: flex;
  justify-content: space-between;
  flex-basis: auto;

  column-gap: 30px;
  margin-top: 200px;

  z-index: 2;
}

.description__group {
  width: 540px;
}

.description__paragraph {
  margin-bottom: 11px;
}

.content_relative {
  position: relative;
}

.video {
  position: relative;

  height: 814px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;

  background-color: #ffffff;
}

.video__title {
  text-align: center;
  margin-bottom: 30px;
}
.video__subtitle {
  margin-bottom: 28px;
}

.video__frame {
  position: absolute;
  z-index: 3;

  top: 329px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.navigation {
  position: relative;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 20px;
  margin-top: -109px;
  padding-top: 200px;

  background-color: #42413c;
}

.navigation__title {
  height: 323px;
  width: 350px;

  font-size: 52px;
  color: #f5f4f0;
}

.card__title {
  margin-bottom: 16px;

  color: #fe8a02;
}

.navigation__card {
  display: block;

  height: 300px;
  width: 302px;
  padding: 24px;

  color: #2a2626;

  background-color: #f5f4f0;
}

.navigation__card_height {
  height: 275px;
}

.navigation__card:hover,
.navigation__card:hover > .card__title {
  background-color: #fe8a02;

  color: #fff;
}

.navigation__num {
  margin-bottom: 40px;

  font-size: 64px;
  line-height: 1;
}

.container-fw_white-bg {
  background-color: #ffffff;
}

.container-fw_dark-bg {
  background-color: #42413c;
}

.container-fw_light-bg {
  background-color: #f5f4f0;
  color: #2A2626;
}

.top-block {
  display: flex;
  column-gap: 30px;
}

.pretitle {
  font: normal 24px/28.8px "Neucha-Regular", cursive;
}

.pretitle_dark {
  color: #908d8b;
}

.subtitle {
  margin-top: 28px;
}

.line__title {
  margin-left: 10px;
  padding-top: 3px;
}

.title_white {
  color: #ffffff;
}

.line {
  position: relative;
  z-index: 1;

  margin-top: 91px;

  height: 26px;
}

.line_brown {
  background-color: #b09a81;
}

.bottom-block__description {
  margin-top: 20px;
}

.container-fw_brown-bg {
  background-color: #B09A81;
  color: #fff;
}

.pretitle_white {
  color: #D7CCC0;
}

.title_brown {
  color: #B09A81;
  ;
}

.line_white {
  background-color: #ffffff;
}


