@font-face {
  font-family: "Neucha-Regular";
  src: url("../assets/fonts/Neucha-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

* {
  margin: 0;
}

body {
  color: #2A2626;

  font: normal 16px/1.6em "OpenSans-Regular", sans-serif;
}

h1, h2, h3 {
  color: #FE8A02;
}

h1 {
  font: 72px/1.2em "Neucha-Regular", cursive;
}

h2 {
  font: 60px/1.2em "Neucha-Regular", cursive;
}

h3 {
  font: 34px/1.2em "Neucha-Regular", cursive;
}

h4 {
  font: bold 14px "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
}

img {
  position: relative;
  z-index: 1; 
}

.top-block__img {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 15%));
}

.title-dark {
  color: #2A2626;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.content {
  padding: 100px 165px;
}

a {
  text-decoration: none;
}

.header {
  min-height: 914px;

  background-color: #F5F4F0;
}

.background {
  position: relative;
}

.background::before {
  position: absolute;

  z-index: 0;

  content: "";

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.header__title-container {
  position: relative;
  z-index: 1;
}

.header__title {
  position: relative;
  z-index: 2;
}

.header__img {
  position: absolute;
  top: -45px;
  left: 297px;
  z-index: 1;

  height: 525px;
}

.button {
  background-color: #FE8A02;
  border: none;

  cursor: pointer;
}

.button:hover {
  background-color: #EA7600;
}

.link-header__button {
  width: 148px;
  height: 49px;

  margin-top: 30px;
  margin-left: 570px;
}

.header__link {
  font: bold 16px/1.6em "OpenSans-Bold", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
}

.description {
  position: relative;
  z-index: 2;

  display: flex;
  flex-basis: auto;
  justify-content: space-between;

  column-gap: 30px;

  margin-top: 200px;
}

.description__group {
  width: 540px;
}

.description__paragraph {
  margin-bottom: 11px;
}

.content_relative {
  position: relative;
}

.video {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 814px;

  padding-bottom: 0;

  background-color: #FFFFFF;
}

.video__title {
  margin-bottom: 30px;
  text-align: center;
}

.video__subtitle {
  margin-bottom: 28px;
}

.video__frame {
  position: absolute;
  top: 329px;
  z-index: 3;

  width: 919px;
  height: 569px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 15%));
}

.navigation {
  position: relative;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;

  margin-top: -109px;
  padding-top: 200px;

  background-color: #42413C;
}

.navigation__title {
  width: 350px;
  min-height: 323px;

  font-size: 52px;
}

.title-white,
.subtitle-white {
  color: #F5F4F0;
}

.card-navigation__num {
  margin-bottom: 40px;

  font-size: 64px;
  line-height: 1;
  color: #42413C;
}

.card-navigation__title {
  margin-bottom: 16px;

  color: #FE8A02;
}

.navigation__card {
  display: block;

  width: 302px;
  height: 300px;
  
  padding: 24px;

  color: #2A2626;

  background-color: #F5F4F0;
}

.navigation__card_height {
  height: 275px;
}

.navigation__card:hover,
.navigation__card:hover > .card-navigation__num,
.navigation__card:hover > .card-navigation__title {
  color: #FFFFFF;

  background-color: #FE8A02;
}

.container-fw_white-bg {
  background-color: #FFFFFF;
}

.container-fw_dark-bg {
  background-color: #42413C;
}

.container-fw_light-bg {
  color: #2A2626;

  background-color: #F5F4F0;
}

.top-block {
  display: flex;

  column-gap: 30px;
}

.pretitle {
  font: normal 24px/28.8px "Neucha-Regular", cursive;
}

.pretitle_dark {
  color: #908D8B;
}

.title-black,
.subtitle-black {
  color: #2A2626;
}

.subtitle {
  margin-top: 28px;
}

.line__title {
  margin-left: 10px;
  padding-top: 3px;
}

.line__title_white {
  color: #FFFFFF;
}

.bottom-block__line {
  position: relative;
  z-index: 1;

  height: 26px;

  margin-top: 91px;
}

.line_brown {
  background-color: #B09A81;
}

.bottom-block__description {
  margin-top: 20px;
}

.container-fw_brown-bg {
  color: #FFFFFF;

  background-color: #B09A81;
}

.pretitle_white {
  color: #D7CCC0;
}

.line__title_brown {
  color: #B09A81;
}

.line_white {
  background-color: #FFFFFF;
}

.distortion-of-novelty__first-p {
  width: 560px;

  margin-right: -17px;
}

.description__paragraph-mt {
  margin-top: 16px;
}

.footer {
  background-color: #FFFFFF;
}

.footer__mailing-form {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 190px;

  column-gap: 122px;

  color: #FFFFFF;

  background-color: #42413C;
}

.footer__email-form {
  margin-left: 24px;
}

.email-form__paragraph {
  font-size: 12px;
}

.email-form__paragraph > a {
  color: #FFFFFF;
  text-decoration: underline;
}

.footer__contacts {
  margin-top: 76px;

  font-size: 14px;
  line-height: 22.4px;
  text-align: center;
}

.contacts-footer__paragraph {
  margin-bottom: 16px;
}

.contacts-footer__paragraph > a {
  color: #1085A5;
  text-decoration: underline;
}

.input-email {
  width: 408px;
  height: 50px;

  padding: 0 0 0 15px;

  background-color: #FFFFFF;

  border: none;
}

.submit-email {
  display: block;

  width: 62px;
  height: 50px;

  padding: 0;

  background-color: #FE8A02;

  border: none;
}

.entry-field-email {
  display: flex;

  height: 50px;
}

.email-form__title {
  margin-bottom: 10px;
}

.entry-field-email__submit {
  position: relative;
}

.entry-field-email__submit::before {
  position: absolute;
  top: 15px;
  left: 20px;

  content: "";

  width: 30px;
  height: 30px;

  background-image: url("../assets/images/send.svg");
  background-repeat: no-repeat;
}

.entry-field-email__submit:hover,
.entry-field-email__submit:hover .submit-email {
  background-color: #EA7600;
  cursor: pointer;
}

.premature-optimization > div > p {
  margin-top: 20px;
}

.premature-optimization > div > ul {
  margin-top: 14px;
}